In [5]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.3'

In [3]:
ser1=pd.Series([1,2,3,4,5],index=[3,4,5,6,77])
ser1

3     1
4     2
5     3
6     4
77    5
dtype: int64

In [4]:
ser2=pd.Series({'a':1,'b':2})
ser2

a    1
b    2
dtype: int64

### DataFrame

In [7]:
pd.DataFrame(np.random.random((5,5)))

          0         1         2         3         4
0  0.144706  0.640452  0.151843  0.344993  0.627511
1  0.222912  0.775032  0.495052  0.374616  0.358694
2  0.986857  0.686813  0.064507  0.672540  0.326550
3  0.241163  0.395837  0.818621  0.977010  0.557643
4  0.231688  0.209104  0.535061  0.762178  0.965736

In [8]:
pd.DataFrame(np.random.random((5,5)),
            index=list("这是一个行"),
            columns=list('列列列列列'))

          列         列         列         列         列
这  0.399056  0.989038  0.525757  0.471288  0.944289
是  0.896057  0.585274  0.419320  0.538476  0.148338
一  0.727376  0.450607  0.061645  0.978310  0.971427
个  0.300166  0.819223  0.261697  0.104295  0.144786
行  0.326267  0.647751  0.895473  0.095875  0.573859

In [9]:
pd.DataFrame(ser1,columns=['678'])

    678
3     1
4     2
5     3
6     4
77    5

In [10]:
df1=pd.DataFrame(np.random.random((5,5)),
            index=list("这是一个行"),
            columns=list('列列列列列'))

In [11]:
df1.columns

Index(['列', '列', '列', '列', '列'], dtype='object')

In [12]:
df1.head(4)

          列         列         列         列         列
这  0.434518  0.687395  0.568372  0.947244  0.637213
是  0.919337  0.048473  0.652764  0.658065  0.235674
一  0.425496  0.281491  0.103066  0.473352  0.111596
个  0.116603  0.400381  0.419562  0.467602  0.098488

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 这 to 行
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   列       5 non-null      float64
 1   列       5 non-null      float64
 2   列       5 non-null      float64
 3   列       5 non-null      float64
 4   列       5 non-null      float64
dtypes: float64(5)
memory usage: 240.0+ bytes

In [14]:
df1.describe()

              列         列         列         列         列
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.433799  0.457024  0.527737  0.670682  0.279340
std    0.300945  0.324960  0.293323  0.209433  0.219093
min    0.116603  0.048473  0.103066  0.467602  0.098488
25%    0.273043  0.281491  0.419562  0.473352  0.111596
50%    0.425496  0.400381  0.568372  0.658065  0.235674
75%    0.434518  0.687395  0.652764  0.807147  0.313729
max    0.919337  0.867380  0.894921  0.947244  0.637213

In [15]:
df1['新增的列']=[1,2,3,4,5]
df1

          列         列         列         列         列  新增的列
这  0.434518  0.687395  0.568372  0.947244  0.637213     1
是  0.919337  0.048473  0.652764  0.658065  0.235674     2
一  0.425496  0.281491  0.103066  0.473352  0.111596     3
个  0.116603  0.400381  0.419562  0.467602  0.098488     4
行  0.273043  0.867380  0.894921  0.807147  0.313729     5

In [16]:
df1.insert(2,'又增一列',value=5)#只能执行一次

In [17]:
df1

          列         列  又增一列         列         列         列  新增的列
这  0.434518  0.687395     5  0.568372  0.947244  0.637213     1
是  0.919337  0.048473     5  0.652764  0.658065  0.235674     2
一  0.425496  0.281491     5  0.103066  0.473352  0.111596     3
个  0.116603  0.400381     5  0.419562  0.467602  0.098488     4
行  0.273043  0.867380     5  0.894921  0.807147  0.313729     5

In [19]:
newl=df1.index.insert(3,'kkk')
print('新行索引',newl)

新行索引 Index(['这', '是', '一', 'kkk', '个', '行'], dtype='object')

In [20]:
newc=df1.columns
print('列索引',newc)

列索引 Index(['列', '列', '又增一列', '列', '列', '列', '新增的列'], dtype='object')

In [ ]:
ndf=df1.