In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.2.3'

In [4]:
ser1=pd.Series([1,2,3,4,5],index=[3,4,5,6,77])
ser1

3     1
4     2
5     3
6     4
77    5
dtype: int64

In [5]:
ser2=pd.Series({'a':1,'b':2})
ser2

a    1
b    2
dtype: int64

### DataFrame

In [6]:
pd.DataFrame(np.random.random((5,5)))

          0         1         2         3         4
0  0.117697  0.007914  0.979064  0.179393  0.346635
1  0.178542  0.021758  0.663496  0.580895  0.312689
2  0.417333  0.558925  0.880506  0.834585  0.412767
3  0.506871  0.984313  0.922759  0.870619  0.841596
4  0.433826  0.888400  0.307659  0.406869  0.689315

In [7]:
pd.DataFrame(np.random.random((5,5)),
            index=list("这是一个行"),
            columns=list('列列列列列'))

          列         列         列         列         列
这  0.784305  0.472594  0.143886  0.275600  0.339694
是  0.351140  0.830758  0.267983  0.702042  0.770388
一  0.984817  0.802006  0.840123  0.502468  0.694204
个  0.039507  0.137605  0.451205  0.658018  0.276729
行  0.553317  0.698086  0.285948  0.604156  0.131049

In [8]:
pd.DataFrame(ser1,columns=['678'])

    678
3     1
4     2
5     3
6     4
77    5

In [9]:
df1=pd.DataFrame(np.random.random((5,5)),
            index=list("这是一个行"),
            columns=list('列列列列列'))

In [10]:
df1.columns

Index(['列', '列', '列', '列', '列'], dtype='object')

In [11]:
df1.head(4)

          列         列         列         列         列
这  0.254147  0.321630  0.022391  0.781841  0.114172
是  0.916784  0.949221  0.816105  0.451936  0.460851
一  0.627872  0.791732  0.156392  0.676503  0.768608
个  0.637335  0.417068  0.139315  0.070863  0.461894

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 这 to 行
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   列       5 non-null      float64
 1   列       5 non-null      float64
 2   列       5 non-null      float64
 3   列       5 non-null      float64
 4   列       5 non-null      float64
dtypes: float64(5)
memory usage: 240.0+ bytes

In [13]:
df1.describe()

              列         列         列         列         列
count  5.000000  5.000000  5.000000  5.000000  5.000000
mean   0.500215  0.587090  0.374399  0.441832  0.520916
std    0.338617  0.269087  0.372109  0.297537  0.278946
min    0.064935  0.321630  0.022391  0.070863  0.114172
25%    0.254147  0.417068  0.139315  0.228019  0.460851
50%    0.627872  0.455799  0.156392  0.451936  0.461894
75%    0.637335  0.791732  0.737792  0.676503  0.768608
max    0.916784  0.949221  0.816105  0.781841  0.799055

In [14]:
df1['新增的列']=[1,2,3,4,5]
df1

          列         列         列         列         列  新增的列
这  0.254147  0.321630  0.022391  0.781841  0.114172     1
是  0.916784  0.949221  0.816105  0.451936  0.460851     2
一  0.627872  0.791732  0.156392  0.676503  0.768608     3
个  0.637335  0.417068  0.139315  0.070863  0.461894     4
行  0.064935  0.455799  0.737792  0.228019  0.799055     5

In [15]:
df1.insert(2,'又增一列',value=5)#只能执行一次

In [16]:
df1

          列         列  又增一列         列         列         列  新增的列
这  0.254147  0.321630     5  0.022391  0.781841  0.114172     1
是  0.916784  0.949221     5  0.816105  0.451936  0.460851     2
一  0.627872  0.791732     5  0.156392  0.676503  0.768608     3
个  0.637335  0.417068     5  0.139315  0.070863  0.461894     4
行  0.064935  0.455799     5  0.737792  0.228019  0.799055     5

In [17]:
newl=df1.index.insert(3,'kkk')
print('新行索引',newl)

新行索引 Index(['这', '是', '一', 'kkk', '个', '行'], dtype='object')

In [18]:
newc=df1.columns
print('列索引',newc)

列索引 Index(['列', '列', '又增一列', '列', '列', '列', '新增的列'], dtype='object')

In [19]:
#ndf=df1.

In [20]:
pd.read_csv('CSV数据.csv',
           index_col=0,
           header=None,
           encoding='utf-8') #gbk,gb18030

     1  2  3
0
NaN  a  b  c
0.0  1  1  1
1.0  1  1  2
2.0  1  2  1
3.0  2  2  2
4.0  2  3  1
5.0  2  3  2

In [21]:
pd.read_excel('Excel数据.xlsx',
           index_col=0,
           header=0,
           sheet_name=1)

   1.1  1.2
1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1

In [22]:
pd.read_excel(r'D:\桌面\python基础语法\Excel数据.xlsx',
           index_col=0,
           header=0,
           sheet_name=1)

   1.1  1.2
1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1
1    1    1